<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="CRM"/>
    <meta name="author" content="Vorkov"/>
    <title>Error</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/styles/styles.css" rel="stylesheet"/>
</head>

<body>
<div class="d-flex" id="wrapper">

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="../..">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-5, text-center"><b>Error 409</b></h1>
        </div>
        <hr>
        <br>
        <div class="banner ">
            <div class="container">
                <div class="row " >
                    <h3 class="mt-5, text-center">Conflict</h3>
                    <h3 class="mt-5, text-center">Request could not
                        be completed due to a conflict with the current state of the target
                        resource.</h3>
                    <h1 class="police-tape police-tape--1" style=" margin-left: 100px;margin-top: 90px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 409&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 409&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 409&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 409&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 409&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 409&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </h1>
                    <h1 class="police-tape police-tape--2" style=" margin-left: 100px;">&nbsp;&nbsp;&nbsp;Conflict&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conflict&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conflict&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conflict&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conflict&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>