<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="CRM"/>
    <meta name="author" content="Vorkov"/>
    <title>Error</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/styles/styles.css" rel="stylesheet"/>
</head>

<body>
<div class="d-flex" id="wrapper">

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="../..">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-5, text-center"><b>Error</b></h1>
        </div>
        <hr>
        <br>
        <div class="banner ">
            <div class="container">
                <div class="row " >
                    <h3 class="mt-5, text-center">Oops... Something is wrong</h3>
                    <img class="mb-4" src="/images/sorry.png" alt="sorry" width="1200" height="630">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>